.test22 {
    @include breakpoint(mobile) {
        height: auto;
    }
}


/* responsive */

.on {
    @include breakpoint(mobile) {
        display: block !important;
    }
}

.off {
    @include breakpoint(mobile) {
        display: none !important;
    }
}


/* basecolor
------------------------------------------------------------ */

$green_color: #f9ba0b;
////////////////////////////////////////////////////
// test　のち消すもの
////////////////////////////////////////////////////
.logo-wrap {
    background: #333;
}

////////////////////////////////////////////////////
// COMMON
////////////////////////////////////////////////////
.cap {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: 30px 0px;
    @include breakpoint(mobile) {
        font-size: 20px;
    }
}

@media (min-width:310px) and (max-width:499px) {
    ul.max-menu {
        max-height: auto !important;
        margin: 100px auto auto 20px;
    }
}

///////////
//FLAME
/////////////////////////////////////////
.contents_main {
    @include breakpoint(mobile) {
        padding: 0 !important;
        height: 300px !important;
    }
}

.center-photo {
    .container {
        padding: 0;
        .center-photo-in {
            img {
                width: 100%;
            }
        }
    }
}

.left-photo {}

.right-txt {
    display: table;
    width: 450px;
    height: 100%;
    margin: 0 auto;
    @include breakpoint(mobile) {
        width: 100%;
    }
    .right-txt-cap {
        h3 {
            font-size: 26px;
            font-weight: bold;
            @include breakpoint(mobile) {
                font-size: 20px;
            }
        }
    }
    .right-txt-in {
        p {
            margin: 30px 0px;
        }
    }
    .right-txt-btn {
        width: 280px;
        margin: 0 auto;
        text-align: center;
        a {
            padding: 18px 0 20px;
            border-radius: 30px;
            background: $green_color;
            border: 1px solid $green_color;
            width: 100%;
            display: inline-block;
            color: #fff;
            font-weight: bold;
        }
    }
}

.left-txt {
    display: table;
    width: 450px;
    height: 100%;
    margin: 0 auto;
    @include breakpoint(mobile) {
        width: 100%;
    }
    .left-txt-cap {
        h3 {
            font-size: 26px;
            font-weight: bold;
            @include breakpoint(mobile) {
                font-size: 20px;
            }
        }
    }
    .left-txt-in {
        p {
            margin: 30px 0px;
        }
    }
    .left-txt-btn {
        width: 280px;
        margin: 0 auto;
        text-align: center;
        a {
            padding: 18px 0 20px;
            border-radius: 30px;
            background: $green_color;
            border: 1px solid $green_color;
            width: 100%;
            display: inline-block;
            color: #fff;
            font-weight: bold;
        }
    }
}

.contents_main_left .main_logo {
    @include breakpoint(mobile) {
        display: block !important;
    }
}

.main_logo {
    margin: 0 0 0 -110px !important;
    @include breakpoint(mobile) {
        margin: 0 0 0 0 !important;
    }
}

.main_copy {
    bottom: 370px !important;
    margin: 0 0 0 -135px !important;
    @include breakpoint(mobile) {
        display: none;
        margin: 0 0 0 0 !important;
    }
}

.main_copy p {
    @include breakpoint(mobile) {
        // background: #fff !important;
    }
}

// .main_copy {
//     top: 400px;
// }
// .main_loader {
//     bottom: 300px !important;
//     @include breakpoint(mobile) {
//         bottom: 300px !important;
//     }
// }
////////////////////////////////////////////////////
// 2. Navigation
////////////////////////////////////////////////////
.main_menu_btn {
    cursor: pointer;
    display: block;
    height: 48px;
    position: fixed;
    -ms-transform: translateZ(0px);
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    width: 48px;
    z-index: 9999;
    padding: 10px;
    top: 35px;
    right: 22%;
}

.sub_img:before {
    background: #2f3042!important;
}

.main_menu_block {
    width: 30%;
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    display: none;
    @include breakpoint(mobile) {
        width: 100% !important;
        background: #eee;
    }
}

.menu_wrapper {
    -webkit-transition: all .5s ease-out 0s;
    -moz-transition: all .5s ease-out 0s;
    -o-transition: all .5s ease-out 0s;
    transition: all .5s ease-out 0s;
    height: 100%;
    position: relative;
}


/*.menu_wrapper.active{left:0;}*/

.sub_menu,
.sub_menu .menu-main-menu-container {
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: width 1s;
    display: -webkit-flex;
    display: flex;
    z-index: 3;
}

.sub_menu ul#menu {
    position: relative;
    width: 550px;
    max-width: 100%;
    z-index: 3;
    list-style: none;
    padding: 0;
    margin: auto;
    list-style: decimal;
    list-style-type: none;
    counter-reset: item;
}

.sub_menu li {
    padding: 6px 0;
    list-style-type: none;
    // border-bottom: 1px solid #fff;
}

.sub_menu a {
    color: #fff !important;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Open Sans';
    display: inline-block;
    padding: 6px 0;
}

.sub_img {
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: width 1s;
}

.sub_img:before {
    background: #131b28;
    // top: -104px;
    opacity: 0.93;
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    // -ms-transform: skew(0deg, -3.23deg);
    // -webkit-transform: skew(0deg, -3.23deg);
    // transform: skew(0deg, -3.23deg);
    width: 100%;
    transform-origin: 100% 100% 0;
    left: 0;
    z-index: 1;
}

.sub_img:after {
    // content: "";
    // display: block;
    // position: absolute;
    // height: 100%;
    // -ms-transform: skew(-17deg, 0deg);
    // -webkit-transform: skew(-17deg, 0deg);
    // transform: skew(-17deg, 0deg);
    // width: 100%;
    // transform-origin: 100% 100% 0;
    // left: -100%;
    // z-index: 2;
    // margin: 0 0 0 2px;
}

.main_menu_btn.main_menu_btn_open .line {
    background: #fff;
    height: 3px;
}

.main_menu_btn .line {
    background: #ed2437;
    border-radius: 1px;
    display: block;
    height: 2px;
    position: absolute;
    -ms-transform: translate(0, 0px);
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px);
    width: 26px;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.line1 {
    top: 14px;
}

.line2 {
    top: 23px;
}

.line3 {
    top: 32px;
}

.main_menu_btn:hover .line1 {
    -ms-transform: translate(0, -2px);
    -webkit-transform: translate(0, -2px);
    transform: translate(0, -2px);
}

.main_menu_btn:hover .line3 {
    -ms-transform: translate(0, 2px);
    -webkit-transform: translate(0, 2px);
    transform: translate(0, 2px);
}

.main_menu_btn_open .line1,
.main_menu_btn_open:hover .line1 {
    -ms-transform: translate(0, 9px) rotate(45deg);
    -webkit-transform: translate(0, 9px) rotate(45deg);
    transform: translate(0, 9px) rotate(45deg);
    background-color: #ffffff;
}

.main_menu_btn_open .line2 {
    opacity: 0;
}

.main_menu_btn_open .line3,
.main_menu_btn_open:hover .line3 {
    -ms-transform: translate(0, -9px) rotate(-45deg);
    -webkit-transform: translate(0, -9px) rotate(-45deg);
    transform: translate(0, -9px) rotate(-45deg);
    background-color: #ffffff;
}

.front-sections {
    z-index: 99;
    overflow: visible;
    background-color: #ffffff;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 0 180px;
    margin-top: -2px;
}

.front-sections:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: skew(0deg, -3.23deg);
    -moz-transform: skew(0deg, -3.23deg);
    -o-transform: skew(0deg, -3.23deg);
    -ms-transform: skew(0deg, -3.23deg);
    transform: skew(0deg, -3.23deg);
    background-color: #ffffff;
    margin-top: -58px;
    background-size: cover;
    background-repeat: no-repeat;
}

#footer-wrapper.front-sections::before {
    background-color: #131B28;
}

ul.max-menu {
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 135px;
    margin-left: 60px;
    min-width: 190px;
}

.sf-with-ul {
    position: relative;
}

.sf-with-ul:after {
    border-left: 4px double transparent;
    border-right: 4px double transparent;
    border-top: 7px solid #fff;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right: -22px;
    top: 19px;
    width: 0;
}

.menu_wrapper .sub_menu ul#menu>li .menu-style {
    background: transparent url("images/navigation-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin: 7px auto;
    position: relative;
    width: 72px;
    height: 22px;
    opacity: 0.3;
    display: none;
}

.menu_wrapper .sub_menu ul#menu>li:last-child .menu-style {
    display: none;
}

.menu_wrapper .sub_menu ul#menu>li .menu-style:before,
.menu_wrapper .sub_menu ul#menu>li .menu-style:after {
    content: "";
    height: 1px;
    background: #fff;
    position: absolute;
    display: block;
    width: 350px;
    top: 10px;
}

.menu_wrapper .sub_menu ul#menu>li .menu-style:before {
    right: 100%;
}

.menu_wrapper .sub_menu ul#menu>li .menu-style:after {
    left: 100%;
}

.main_menu_block ul.sub-menu>li>a {
    display: inline-block;
    padding: 12px 25px;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    border-bottom: solid 1px rgba(255, 255, 255, 0.36);
    line-height: 1.42857143;
    white-space: nowrap;
}

.main_menu_block ul.sub-menu>li:last-child>a {
    border-bottom: none;
}

////////////////////////////////////////////////////
// HEADER
////////////////////////////////////////////////////
.first-year {
    font-weight: bold;
    font-size: 20px;
    color: #aaa;
    padding-left: 5px;
}

.main_menu_btn {
    right: 2%;
    top: 60px;
    @include breakpoint(mobile) {
        right: 2%;
        top: 0%;
        background: #eee;
    }
}

#home .contents_main {
    @include breakpoint(mobile) {
        height: auto;
    }
}

// CONTENTS HEADER
////////////////////////////////////////////////////
#cotnents-page {
    position: static;
    height: auto;
    #slider-wrapper {
        height: 500px;
        @include breakpoint(mobile) {
            height: 300px;
        }
    }
    .main_slide {
        height: 500px;
        @include breakpoint(mobile) {
            height: 100%;
        }
        .sub_img:before {
            background: none !important;
        }
    }
    .main_logo {
        //    top: 0px !important;
    }
    .contents_main_left {
        @include breakpoint(mobile) {
            width: auto !important;
        }
        .logo-img {
            display: inline-block;
            top: 40px;
            left: 20%;
            position: absolute;
            width: 250px;
            @include breakpoint(mobile) {
                display: inline-block;
                top: 10px;
                left: 10px;
                position: absolute;
                width: 140px;
            }
        }
        .main_copy {
            top: 230px !important;
            @include breakpoint(mobile) {
                left: 10px;
                top: 80px !important;
                display: block;
            }
            p {
                color: #000;
            }
        }
    }
}

.contents_main_right {
    z-index: 0 !important;
    .main_img {
        width: 100%;
        height: 450px;
        position: relative;
        overflow: hidden;
        .sub_img:before {
            background: none !important;
            content: "";
        }
    }
}

.main_menu_block_open {
    background: #333;
}

@media (min-width:641px) and (max-width:768px) {
    #cotnents-page .contents_main_right {
        z-index: 0;
    }
}

////////////////////////////////////////////////////
// FRONT PAGE
////////////////////////////////////////////////////
.home-slider-wrapper {
    padding: 30px 30px 0 400px;
    height: 670px;
    width: 100%;
    .ad-slider-image {
        height: 670px;
        width: 100%;
    }
}

#slider-wrapper {
    // height: 670px;
    .contents_main_left {
        width: 400px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
        @include breakpoint(mobile) {
            margin: 0 !important;
            top: 0px !important;
            left: 0px;
            z-index: 20;
            width: 100%;
            background: #fff;
        }
        .logo-img {}
        .main_txt {
            // bottom: 110px!important;
            top: 280px;
            position: absolute;
            margin: 0 0 0 -120px;
            left: 50%;
            width: 600px;
            .main_txt_title {
                h1 {
                    font-weight: bold;
                    font-size: 41px;
                }
            }
            .main_txt_title_cap {
                p {
                    font-weight: bold;
                }
            }
        }
    }
}

.box {
    width: 100%;
    height: 0;
    padding-top: 60%; //600÷1500×100=40
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bg-title {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    color: #fff;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}

#top-wrapper {
    .block-3 {
        ul {
            display: flex;
            flex-wrap: wrap;
            border: 1px solid $green_color;
            list-style: none;
            li {
                width: calc(100%/3);
                padding: 20px;
                text-align: center;
                font-weight: bold;
                color: $green_color;
                .service-list-icon {
                    i {
                        font-size: 50px;
                    }
                }
            }
            li:not(:nth-child(3n)) {
                border-right: 1px solid $green_color;
            }
            li:nth-last-child(n+4) {
                border-bottom: 1px solid $green_color;
            }
        }
        .service-list-btn {
            padding: 18px 0 20px;
            border-radius: 40px;
            background: $green_color;
            border: 1px solid$green_color;
            width: 260px;
            text-align: center;
            margin: 20px auto;
            a {
                color: #fff;
                font-weight: bold;
            }
        }
    }
}

.block-4 {
    overflow: hidden;
    .content-wrap {
        margin-bottom: 20px;
    }
    .right-photo {
        @include breakpoint(mobile) {
            margin-top: 10px;
        }
    }
}

.block-5 {
    overflow: hidden;
    @include breakpoint(mobile) {
        margin-top: 50px;
    }
}

////////////////////////////////////////////////////
// CONTENT PAGE
////////////////////////////////////////////////////
.content-pages {
    .contents_block {
        position: relative;
        margin: 0px 0px;
    }
    .sp_copy {
        text-align: center;
        font-weight: bold;
        display: none;
        font-size: 25px;
    }
}

// 会社情報　about
////////////////////////////////////////////////////
.about {
    .block-1 {
        .block-1_inner_col {
            overflow: hidden;
        }
        h2 {
            text-align: center;
            margin: 100px 0px;
            font-weight: bold;
        }
        .left-txt-cap {
            h4 {
                font-size: 20px;
                font-weight: bold;
            }
        }
        .left-txt-in {
            p {
                font-weight: normal;
            }
        }
        .left-txt-bottom {
            text-align: left;
            span {
                font-weight: normal;
            }
            p {
                font-weight: bold;
            }
        }
        .block-1_inner_img_w_all {
            margin: 10px 0px;
            clear: both;
        }
    }
    .block-2 {
        margin: 50px 0px;
        .centents-about-table {
            width: 800px;
            margin: 0 auto;
            @include breakpoint(mobile) {
                width: 100%;
            }
            table {
                width: 100%;
                border-spacing: 0;
            }
            table th {
                border-bottom: solid 2px $green_color;
                padding: 20px 20px;
                width: 30%;
                background: none;
                border-top: none;
                border-left: none;
                border-right: none;
                @include breakpoint(mobile) {
                    width: 100%;
                    display: block;
                }
            }
            table td {
                padding: 20px 20px;
                width: 70%;
                border-bottom: 1px solid #ddd;
                border-top: none;
                border-right: none;
                border-left: none;
                text-align: left;
                @include breakpoint(mobile) {
                    width: 100%;
                    display: block;
                }
            }
        }
        .about-map {
            width: 800px;
            margin: 0 auto;
            @include breakpoint(mobile) {
                width: 100%;
            }
            .gmap {
                height: 0;
                overflow: hidden;
                padding-bottom: 56.25%;
                position: relative;
            }
            .gmap iframe {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
            }
        }
    }
    .block-3 {
        .history {
            position: relative;
            width: 100%;
            .line {
                width: 1px;
                height: 100%;
                /* padding: 26px 0; */
                position: absolute;
                top: 0;
                left: 125px;
                span {
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: $green_color;
                }
            }
            .h-list {
                width: 100%;
                position: relative;
                .h-list-year {
                    color: $green_color;
                }
            }
            .h-list>div:nth-child(1) {
                width: 125px;
                position: absolute;
                top: 0;
                left: 0;
                padding: 10px 0;
                color: $green_color;
            }
            .h-list>div:nth-child(2) {
                width: 100%;
                position: relative;
                padding: 10px 0 10px 155px;
            }
            .h-list>div:nth-child(2) span {
                display: block;
                width: 10px;
                height: 10px;
                background: $green_color;
                /* border: 1px solid rgba(0,159,65,1); */
                border-radius: 50%;
                position: absolute;
                top: 20px;
                left: 120px;
                margin: 0;
            }
        }
    }
    .history-img {
        @include breakpoint(mobile) {
            margin: 30px 0px 0px;
        }
    }
}

// 業工程のご紹介　flow
////////////////////////////////////////////////////
.flow {
    .block-1_inner {
        position: relative;
        width: 800px;
        margin: 0 auto;
        @include breakpoint(mobile) {
            width: 100%;
        }
        .flow_line {
            width: 1px;
            width: 1px;
            height: 100%;
            background: $green_color;
            position: absolute;
            top: 0;
            left: 30px;
        }
        .flow_list {
            width: 100%;
            margin: 0 0 60px;
            position: relative;
            .flow_right {
                width: 100%;
                padding: 0 0 0 80px;
                position: static;
                background: #fff;
                .flow_title {
                    width: 100%;
                    font-size: 0;
                    line-height: 0;
                    position: relative;
                }
                img {
                    display: inline-block;
                    margin: 10px 0px;
                }
                .flow_contact {
                    text-align: center;
                    margin: 30px 0px;
                    p {
                        font-size: 26px;
                        font-weight: bold;
                    }
                    a {
                        padding: 10px 0 10px;
                        border-radius: 30px;
                        background: $green_color;
                        width: 300px;
                        display: inline-block;
                        color: #fff;
                        font-weight: bold;
                        text-align: center;
                        @include breakpoint(mobile) {
                            width: 100%;
                        }
                    }
                }
            }
            .flow_title>p:nth-child(1) {
                width: 40px;
                text-align: center;
                font-size: 12px;
                line-height: 38px;
                font-weight: 700;
                color: $green_color;
                border-radius: 20px;
                border: 1px solid $green_color;
                background: rgba(255, 255, 255, 1);
                position: absolute;
                top: 0;
                left: -70px;
                z-index: 10;
            }
            .flow_title>p:nth-child(2) {
                color: $green_color;
            }
        }
    }
}

// 組み立て事例　construction
////////////////////////////////////////////////////
.construction {
    .block-1 {
        .block-1_inner {
            overflow: hidden;
            margin: 100px 0px;
        }
    }
    .block-2 {
        ul {
            display: flex;
            flex-wrap: wrap;
            // justify-content: center;
            // align-items: center;
            list-style: none;
            li {
                width: calc(25% - 10px);
                margin: 0 10px 10px 0;
                @include breakpoint(mobile) {
                    width: calc(50% - 10px);
                    margin: 0 10px 10px 0;
                }
            }
        }
    }
    .block-3 {
        .dltable_owned {
            width: 90%;
            border: 1px solid #cccccc;
            border-radius: 4px;
            margin: 15px auto;
            background-color: #fff;
            .row1 {
                width: 50%;
                border-right: 1px solid #ccc;
            }
            .row2 {
                width: 50%;
            }
            dl.bk_dl {
                background: #eee;
                ;
            }
            dl {
                display: flex;
                flex-wrap: wrap;
                justify-content: left;
                text-align: center;
                border-bottom: 1px solid #ccc;
                margin: 0;
                &:last-child {
                    border-bottom: none;
                    margin: 0;
                    padding: 0;
                }
                @include breakpoint(mobile) {
                    text-align: left;
                    font-size: 10px;
                }
                dt {
                    padding: 10px 0;
                    color: #333;
                    margin: 0;
                    font-size: 15px;
                    @include breakpoint(mobile) {
                        padding: 10px 10px;
                        margin: 0;
                    }
                }
                dd {
                    padding: 10px 0;
                    margin: 0;
                    font-size: 12px;
                    @include breakpoint(mobile) {
                        padding: 10px 10px;
                        margin: 0;
                    }
                }
            }
        }
    }
    .block-4 {
        .dltable_delivery {
            width: 90%;
            border: 1px solid #cccccc;
            border-radius: 4px;
            margin: 15px auto;
            background-color: #fff;
            .row1 {
                width: 50%;
                border-right: 1px solid #ccc;
            }
            .row2 {
                width: 50%;
            }
            dl.bk_dl {
                background: #eee;
                ;
            }
            dl {
                display: flex;
                flex-wrap: wrap;
                justify-content: left;
                text-align: center;
                border-bottom: 1px solid #ccc;
                margin: 0;
                &:last-child {
                    border-bottom: none;
                    margin: 0;
                    padding: 0;
                }
                @include breakpoint(mobile) {
                    text-align: left;
                    font-size: 10px;
                }
                dt {
                    padding: 10px 0;
                    color: #333;
                    margin: 0;
                    font-size: 15px;
                    @include breakpoint(mobile) {
                        padding: 10px 10px;
                        margin: 0;
                    }
                }
                dd {
                    padding: 10px 0;
                    margin: 0;
                    font-size: 12px;
                    @include breakpoint(mobile) {
                        padding: 10px 10px;
                        margin: 0;
                    }
                }
            }
        }
    }
}

// お問い合わせ　contact
////////////////////////////////////////////////////
.contact {
    .block-1 {
        table {
            th {
                border-top: 1px solid $green_color;
                border-bottom: 1px solid $green_color;
                border-left: none;
                background: none;
                color: $green_color;
            }
            td {
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                border-right: none;
            }
        }
        .contact-btn {
            text-align: center;
        }
        .wpcf7-submitz {
            margin-top: 20px;
        }
        .wpcf7-submit {
            padding: 10px 0 10px;
            border-radius: 10px;
            background: #f9ba0b;
            width: 300px;
            display: inline-block;
            color: #fff;
            font-weight: bold;
            text-align: center;
            margin-top: 20px;
        }
    }
    .block-2 {
        margin: 50px 0px;
        .block-2_inner {
            .faq-question {
                // padding: 10px 10px 10px 40px;
                // background: #FFF url(../images/faq-bg.png) no-repeat left center;
                border: 1px solid #333;
                // cursor: pointer;
                font-size: 14px;
                color: #333;
                //  font-weight: bold;
            }
            .faq-question {
                border: 1px solid #333;
                font-size: 14px;
                color: #333;
            }
        }
    }
}

// 求人情報　recruitpage
////////////////////////////////////////////////////
.recruitpage {
    .block-1 {
        .block-1_inner {
            overflow: hidden;
        }
    }
    .block-2 {
        margin: 50px 0px;
        .centents-table {
            width: 800px;
            margin: 0 auto;
            @include breakpoint(mobile) {
                width: 100%;
            }
            table tr {
                @include breakpoint(mobile) {
                    margin-bottom: 20px;
                    display: block;
                }
            }
            table th {
                padding: 20px 20px;
                width: 30%;
                background: #eee;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 1px solid #fff;
                @include breakpoint(mobile) {
                    width: 100%;
                    display: block;
                }
            }
            table td {
                padding: 20px 20px;
                width: 70%;
                border-bottom: 1px solid #ddd;
                border-top: none;
                border-right: none;
                border-left: none;
                text-align: left;
                @include breakpoint(mobile) {
                    width: 100%;
                    display: block;
                }
            }
        }
    }
    .block-3 {
        .block-3_inner {
            overflow: hidden;
            margin: 0px 0px;
            border-top: 1px solid;
            padding: 50px 0px;
            .left-txt {
                h4 {
                    font-weight: bold;
                }
                p {
                    font-weight: normal;
                }
                img {
                    display: none;
                }
            }
            .right-txt {
                h4 {
                    font-weight: bold;
                }
                p {
                    font-weight: normal;
                }
            }
        }
    }
    .block-4 {
        margin: 0px 0px;
        .centents-table {
            width: 800px;
            margin: 0 auto;
            @include breakpoint(mobile) {
                width: 100%;
            }
            table tr {
                @include breakpoint(mobile) {
                    margin-bottom: 20px;
                    display: block;
                }
            }
            table th {
                padding: 20px 20px;
                width: 30%;
                background: #eee;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 1px solid #fff;
                @include breakpoint(mobile) {
                    width: 100%;
                    display: block;
                }
            }
            table td {
                padding: 20px 20px;
                width: 70%;
                border-bottom: 1px solid #ddd;
                border-top: none;
                border-right: none;
                border-left: none;
                text-align: left;
                @include breakpoint(mobile) {
                    width: 100%;
                    display: block;
                }
            }
        }
    }
    .recruitpage_contact {
        text-align: center;
        margin: 30px 0px;
        p {
            font-size: 26px;
            font-weight: bold;
            @include breakpoint(mobile) {
                font-size: 18px;
            }
        }
        a {
            padding: 10px 0 10px;
            border-radius: 30px;
            background: $green_color;
            width: 300px;
            display: inline-block;
            color: #fff;
            font-weight: bold;
            text-align: center;
            @include breakpoint(mobile) {
                width: 100%;
            }
        }
    }
}

////////////////////////////////////////////////////
// FOOTER
////////////////////////////////////////////////////
#footer-wrapper {
    @include breakpoint(mobile) {
        margin-top: 50px;
    }
}

.tild-section {
    margin-top: 0;
}

// RECRUIT
////////////////////////////////////////////////////
.recruit {
    .recruit-inner {
        // width: 960px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        a {
            display: block;
            width: 100%;
            height: 100%;
        }
        @include breakpoint(mobile) {
            width: 100%;
        }
        .recruit-inner-left {
            padding: 0%;
        }
        .recruit-inner-right {
            padding: 0%;
            background: #e6e6e6;
            height: 100%;
            // display: flex;
            // align-items: center;
            position: absolute;
            right: 0;
            .recruit-title {
                text-align: right;
                padding: 20px;
                font-weight: bold;
                color: #333;
                font-size: 14px;
            }
            .recruit-inner-right-txt {
                text-align: center;
                margin: 50px 0px 0px;
                width: 100%;
                color: #333;
                .b {
                    font-weight: bold;
                    font-size: 20px;
                }
                p {
                    color: #333;
                }
            }
        }
    }
}

// FOOTER CONTACT
////////////////////////////////////////////////////
.footer-contact {
    margin: 20px 0px;
    padding: 30px 0px;
    .footer-contact-inner {
        .footer-contact-inner-left {
            box-sizing: border-box;
            border-right: 1px solid;
            text-align: center;
            i {
                color: #333;
                font-size: 40px;
                margin-right: 10px;
                font-size: 50px;
                @include breakpoint(mobile) {
                    font-size: 30px;
                }
            }
            a {
                color: #333;
                font-size: 50px;
                font-weight: bold;
                @include breakpoint(mobile) {
                    font-size: 30px;
                }
            }
        }
        .footer-contact-inner-right {
            text-align: center;
            i {
                font-size: 40px;
                margin-right: 10px;
                font-size: 50px;
                @include breakpoint(mobile) {
                    font-size: 30px;
                }
            }
            a {
                color: #333;
                font-size: 50px;
                font-weight: bold;
                @include breakpoint(mobile) {
                    font-size: 30px;
                }
            }
        }
    }
}

// FOOTER ABOUT
////////////////////////////////////////////////////
.footer-about {
    @include breakpoint(mobile) {
        margin-bottom: 20px;
    }
    .footer-about-in {
        margin: 10px auto;
        text-align: center;
        font-size: 26px;
        font-weight: bold;
        margin: 0 auto;
        @include breakpoint(mobile) {
            font-size: 20px;
        }
        ul {
            display: flex;
            list-style: none;
            justify-content: space-around;
            li {
                a {
                    color: #333;
                }
            }
        }
    }
    ul {
        display: flex;
        list-style: none;
        justify-content: center;
        width: 100%;
        margin: 0;
        @include breakpoint(mobile) {
            display: none;
        }
        li {
            padding: 0 10px;
            a {
                color: #333;
            }
        }
    }
}

// FOOTER COPYRIGHT
////////////////////////////////////////////////////
footer {
    text-align: center;
}