@mixin breakpoint($point) {
    @if $point==desktop {
        @media (min-width: 70em) {
            @content ;
        }
    }
    @else if $point==laptop {
        @media (min-width: 64em) {
            @content ;
        }
    }
    @else if $point==company {
        //@media (min-width: 50em) { @content ; }
        //@media (min-width: 768px) { @content ; }
        @media (min-width: 1280px) {
            @content ;
        }
    }
    @else if $point==tablet {
        //@media (min-width: 50em) { @content ; }
        //@media (min-width: 768px) { @content ; }
        @media (max-width: 989px) {
            @content ;
        }
    }
    @else if $point==app_pc {
        //@media (min-width: 50em) { @content ; }
        //@media (min-width: 768px) { @content ; }
        @media (min-width: 801px) {
            @content ;
        }
    }
    @else if $point==app {
        //@media (min-width: 50em) { @content ; }
        //@media (min-width: 768px) { @content ; }
        @media (max-width: 800px) {
            @content ;
        }
    }
    //	@else if $point == phablet {
    //		 @media (min-width: 37.5em)  { @content ; }
    //	}
    @else if $point==mobile {
        //@media (max-width: 37.5em)  { @content ; }
        @media (max-width: 990px) {
            @content ;
        }
    }
}